@import url(sp.css);
body {
  margin: 0;
}

.mainvisual {
  width: 100%;
  height: 100vh;
  background-image: url(../images/aurora.jpg);
  background-size: cover;
  margin: 0 auto;
  background-blend-mode: hard-light;
  background-color: skyblue;
}

.mainvisual header {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid white;
  color: white;
}

.mainvisual header h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainvisual header h1 a {
  text-decoration: none;
  color: white;
}

.mainvisual header .header-nav {
  margin-right: 20px;
}

.mainvisual header .header-nav .header-ul {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainvisual header .header-nav .header-ul .header-list {
  display: block;
  width: 110px;
  height: 60px;
  margin: 0 20px;
  list-style: none;
  font-size: 20px;
  font-family: "Montserrat";
}

.mainvisual header .header-nav .header-ul .header-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.mainvisual header .header-nav .header-ul .header-list a:hover {
  text-shadow: 0 0 10px lightgray;
  background-color: rgba(173, 255, 47, 0.6);
  -webkit-box-shadow: 0 0 10px yellowgreen;
          box-shadow: 0 0 10px yellowgreen;
}

.mainvisual header .sp-nav {
  display: none;
}

.mainvisual .catch-copy {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-animation: anima 2s 1;
          animation: anima 2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mainvisual .catch-copy h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 0;
}

.mainvisual .catch-copy p {
  color: white;
  font-size: 20px;
}

.mainvisual .allow {
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-animation: arrowmove 1s ease-in-out infinite;
          animation: arrowmove 1s ease-in-out infinite;
}

.mainvisual .allow .scrolldown4 {
  position: relative;
  border-right: 2px solid white;
}

.mainvisual .allow .scrolldown4::after {
  content: "";
  position: absolute;
  top: 35px;
  right: -14px;
  height: 30px;
  width: 5px;
  background-color: white;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}

.mainvisual .allow .scrolldown4 span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 20px;
  color: white;
}

.news {
  width: 100%;
  margin: 50px auto;
}

.news a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000;
}

.news h2 {
  font-size: 35px;
  text-align: center;
  color: #35e39c;
}

.news dl {
  margin: 20px auto;
  padding-bottom: 20px;
  width: 60%;
  border-bottom: 1px solid gray;
}

.service {
  width: 100%;
  margin: 0 auto;
}

.service h3 {
  text-align: center;
  font-size: 36px;
  color: #35e39c;
}

.service-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service-detail-box {
  width: 25%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-detail-box img {
  width: 100%;
  height: 60%;
}

.service-detail-box p {
  width: 80%;
  margin-top: 0;
}

.service-detail-box p.title {
  margin-top: 15px;
  text-align: center;
}

.service-detail-box .btn {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(-45deg, #00d4ff, #35e39c, #020024);
  margin: 0 auto;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.service-detail-box .btn:hover {
  background: linear-gradient(-45deg, #020024, #00d4ff, #35e39c);
}

.service-detail-box .btn a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.shop {
  margin-top: 50px;
  width: 100%;
  height: 500px;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-left {
  width: 50%;
  height: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.shop-left img {
  margin-top: 25px;
  width: 90%;
}

.shop-right {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-right h3 {
  color: #35e39c;
  margin-bottom: 0;
  font-size: 36px;
}

.shop-right span {
  color: #35e39c;
  margin-top: 0;
}

.shop-right p {
  margin-top: 30px;
}

.shop-right .btn {
  margin: 30px auto;
  width: 200px;
  height: 45px;
  background: linear-gradient(-45deg, #00d4ff, #35e39c, #020024);
  border-radius: 30px;
}

.shop-right .btn:hover {
  background: linear-gradient(-45deg, #020024, #00d4ff, #35e39c);
}

.shop-right .btn a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.company {
  display: inline-block;
  width: 100%;
  height: 650px;
  margin-top: 50px;
  background-image: url(../images/fin.jpg);
  background-size: cover;
  background-color: lightblue;
  background-blend-mode: hard-light;
}

.company-text {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(10% 0, 90% 0, 50% 100%, 50% 100%);
          clip-path: polygon(10% 0, 90% 0, 50% 100%, 50% 100%);
  background-color: rgba(173, 255, 47, 0.5);
}

.company-text h5 {
  margin-top: 0;
  text-align: center;
  font-size: 35px;
  margin-bottom: 0;
  color: #35e39c;
}

.company-text span {
  display: block;
  text-align: center;
  font-size: 20px;
}

.company-text h6 {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  border-bottom: 3px solid rgba(235, 235, 24, 0.856);
  padding-bottom: -10px;
}

.company-text p {
  line-height: 2;
  width: 30%;
  margin: 30px auto;
  text-align: center;
}

.detail {
  width: 60%;
  height: 300px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-left {
  width: 50%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail-left h6 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.detail-left .btn {
  margin-top: 30px;
  width: 200px;
  height: 45px;
  background: linear-gradient(-45deg, #00d4ff, #35e39c, #020024);
  border-radius: 30px;
}

.detail-left .btn:hover {
  background: linear-gradient(-45deg, #020024, #00d4ff, #35e39c);
}

.detail-left .btn a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.detail-right {
  width: 50%;
  height: 100%;
  background-image: url(../images/aurora.jpg);
  background-size: cover;
}

.contact {
  width: 100%;
  height: 500px;
  background-color: rgba(211, 211, 211, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h5 {
  color: #35e39c;
  font-size: 30px;
  margin-bottom: 0;
}

.contact p {
  color: black;
}

.contact .btn {
  width: 200px;
  height: 45px;
  background: linear-gradient(-45deg, #00d4ff, #35e39c, #020024);
  border-radius: 30px;
}

.contact .btn:hover {
  background: linear-gradient(-45deg, #020024, #00d4ff, #35e39c);
}

.contact .btn a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

footer {
  display: inline-block;
  width: 100%;
  height: 60px;
  background-color: #000;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav ul li {
  cursor: pointer;
  color: white;
  list-style: none;
  margin: 0 20px;
  font-weight: 600;
}

@-webkit-keyframes anima {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anima {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}

@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
/*# sourceMappingURL=style.css.map */